body{
     margin: auto;
     padding: 0;
     font-family: sans-serif;
     background-color:#484848;
     width: 80%;
}
 header{
     height: 180px;
     text-align: center;
}
header img
{
    height: 170px;
}
 section{
     width: 100%;
     height: 150px;
}
#homeimg
{
    width: 100%;
}
 section.sec2 {
     padding: 40px;
     box-sizing: border-box;
     height: auto;
     text-align: justify;
}
 section.sec2 h2 {
     font-size: 3em;
     margin: 0;
     padding: 0 0 20px;
     color: #1BB768;
}
 section.sec2 p {
     font-size: 1.3em;
     margin: 0;
     padding: 0;
     color: #fff;
}
 section.sec3 {
     background: url(images/vegan_2.jpg);
     height: 700px;
     background-size: cover;
     border-top: 1px solid rgba(255,255,255,.2);
     border-bottom: 1px solid rgba(255,255,255,.2);
}
 nav{
     text-align: center;
     width: 100%;
     height: 50px;
     background: rgba(0,0,0,.8);
     position: sticky;
     top: 0;
     z-index: 1;
}
 nav ul{
     padding: 0;
     margin: 0;
     /*padding: 0 100px;
     float: center;*/
}
 nav ul li{
     display: inline-block;
     list-style: none;
}
 nav ul li a{
     display: block;
     color: #fff;
     padding: 0 20px;
     text-decoration: none;
     text-transform: uppercase;
     font-weight: bold;
     line-height: 50px;
}
 nav ul li a.active{
     background: #0059b3;
}
 nav ul li a:hover{
     background-color: #0059b3;
}
 footer{
     text-align: center;
     font-size: .8em;
     color:azure;
     margin-top: 70px;
     padding-bottom: 20px;
}
 .container{
     width: 1280px;
     margin: 70px auto 0px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
}
 .container .box{
     position: relative;
     width: 290px;
     height: 290px;
     margin: 10px;
     background: #1BB768;
     box-sizing: border-box;
     display: inline-block;
}
 .container .box .imagebox{
     position: relative;
     overflow: hidden;
}
 .container .box .imagebox img{
     max-width: 100%;
     transition: transform 2s;
}
 .container .box:hover .imagebox img{
     transform: scale(1.2);
}
 .container .box .details{
     position: absolute;
     top: 10px;
     left: 10px;
     right: 10px;
     bottom: 10px;
     background: rgba(0,0,0,.8);
     transform: scaleY(0);
     transition: transform .5s;
}
 .container .box:hover .details{
     transform: scaleY(1);
}
 .container .box .details .content{
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     text-align: center;
     padding: 15px;
     color: #fff;
}
 .container .box .details .content h3{
     margin: 0;
     padding: 0;
     font-size: 20px;
     color: #1BB768;
}
 .container .box .details .content p{
     margin: 10px 0 0;
     padding: 0;
}
 .a1{
     margin: 0;
     padding: 0;
     font-family: sans-serif;
}
 section.why{
     padding: 100px;
     box-sizing: border-box;
     height: auto;
     text-align: justify;
}
 section.why h3 {
     font-size: 2.5em;
     margin: 0;
     padding: 0 0 20px;
     color: #1BB768;
}
 section.why p {
     font-size: 1.3em;
     margin: 0;
     padding: 0;
     color: #fff;
}
 .team{
     overflow: hidden;
     text-align: center;
     padding: 60px;
}
 .team h1{
     text-transform: uppercase;
     color: #1BB768;
     margin-bottom: 60px;
     font-size: 40px;
}
 .border{
     display: block;
     margin: auto;
     width: 160px;
     height: 3px;
     background: #3498db;
     margin-bottom: 40px;
}
 .um{
     margin-bottom: 40px;
}
 .um a{
     display: inline-block;
     margin: 0 30px;
     width: 160px;
     height: 160px;
     overflow: hidden;
     border-radius: 50%;
}
 .um a img{
     width: 100%;
     filter: grayscale(100%);
     transition: 0.4s all;
}
 .um a:hover > img {
     filter: none;
}
 .section{
     width: 600px;
     margin: auto;
     font-size: 20px;
     color: white;
     text-align: justify;
     height: 0;
     overflow: hidden;
}
 .section:target{
     height: auto;
}
 .name{
     display: block;
     margin-bottom: 30px;
     text-align: center;
     text-transform: uppercase;
     font-size: 22px;
}
 table {
     width: 90%;
     margin: auto;
     margin-top: 20px;
     border-spacing: 0;
     background-color:#ffffff;
}
 td, th {
     padding: 10px;
}
 th{
     color: white;
     text-align: center;
     background-color: #001f33;
}
 tr:nth-of-type(odd) {
     background-color: #FFFFCE;
}
 section.nutri{
     padding: 100px;
     box-sizing: border-box;
     height: auto;
     text-align: justify;
}
 section.nutri h2 {
     font-size: 3em;
     margin: 0;
     padding: 0 0 20px;
     color: #1BB768;
}
 section.nutri h3 {
     font-size: 2.5em;
     margin: 0;
     padding: 0 0 20px;
     color: #1BB768;
}
 section.nutri p {
     font-size: 1.3em;
     margin: 0;
     padding: 0;
     color: #fff;
}
 section.nutri ul {
     font-size: 1.3em;
     margin: 0;
     padding: 0;
     color: #fff;
}
 .video{
     margin-left: 150px;
}
iframe
{
    width: 700px;
    margin-left: 150px;
}
 section.howtovegan{
     padding: 100px;
     padding-bottom: 10px;
     box-sizing: border-box;
     height: auto;
     text-align: justify;
}
 section.howtovegan h3 {
     font-size: 2.5em;
     margin: 0;
     padding: 0 0 20px;
     color: #1BB768;
}
 section.howtovegan p {
     font-size: 1.3em;
     margin: 0;
     padding: 0;
     color: #fff;
}
 section.howtovegan img {
     float: left;
     height: 300px;
     width: 500px;
     padding-right: 20px;
}
 #imgright {
     float: right;
     height: 250px;
     width: 350px;
     padding-left: 20px;
}
 section.gallery {
     box-sizing: border-box;
     height: 500px;
     position: relative;
}
 section.gallery h3 {
     font-size: 2.5em;
     margin-left: 100px;
     padding: 0 0 20px;
     color: #1BB768;
}
 section.gallery ul {
     width: 300px;
     list-style-type: none;
}
 section.gallery li {
     display: inline;
     float:right;
     padding: 10px;
}
 section.gallery img {
     border-style: none;
}
 section.gallery a {
     color:#eaeaea;
     text-decoration: none;
     font-style: italic;
}
 section.gallery span {
     position: absolute;
     left: -1000px;
     opacity: 0;
     transition: opacity 3s ease-in-out;
}
 section.gallery a:hover span {
     position: absolute;
     top: 80px;
     left: 450px;
     text-align: center;
     opacity: 1;
}
 figure{
     top: 64px;
     position: absolute;
     left: 410px;
     text-align: center;
     opacity: .15;
}
#contactdiv{
    margin: auto;
    height: 40px;
    display: flex;
    flex-direction: row;
}
.contact
{
    height: 30px;
    width: 30px;
}
 @media only screen and (max-width:1024px) {
    
     nav{
     width: 80%;
        display: block;
   margin: auto;
     
     position: absolute;
        margin-top: 165px;
        padding: 0;
    }
     nav ul {
         width: auto;
    }
     nav ul li a
    {
        background: #000000;
        height: 35px;
        width:auto;
        font-size:0.80em;
        padding: 0px;
    }
     nav li {
         text-align: center;
         width: 100%;
    }
    #homeimg {
        
         width: 100%;
         height: 500px;
        margin-top: 200px;
     }section.sec2
    {
        width: auto;
       padding-top: 10px;
        
    }
    section.sec3
    {
        background: url(images/vegan_21.jpg);
        height: 200px;
    }
    .container
    {
        margin-top: 200px;
    }
    section.why
    {
        margin-top: 200px;
    }
    section.nutri
    {
         margin-top: 200px;
    }
     section.howtovegan
    {
         margin-top: 200px;
    }
    .a1
    {
        margin-top: 155px;
    }    
    }
     section.sec3 {
         background: url(images/vegan_2.jpg);
         height: 500px;
         background-size: cover;
         border-top: 1px solid rgba(255,255,255,.2);
         border-bottom: 1px solid rgba(255,255,255,.2);
    }
     section.sec2 h2 {
         font-size: 2em;
    }
     section.sec2 p {
         font-size: 1.1em;
    }
     .container {
         width: auto;
    }
     .container .box{
         width: auto;
         height: auto;
         padding: 5px;
         margin-left: auto;
         margin-right: auto;
    }
     section.why{
         padding: 15px;
         height: auto;
         text-align: justify;
    }
     section.why h3 {
         font-size: 2em;
    }
     section.why p {
         font-size: 1.1em;
    }
     .video{
         
         margin-left: 0px;
    }
     iframe {
         width: 80%;
    }
     section.nutri {
         padding: 15px;
    }
     section.nutri h2 {
         font-size: 2em;
    }
     section.nutri p {
         font-size: 1.1em;
    }
     section.nutri h3 {
         font-size: 2em;
    }
     section.nutri ul li {
         font-size: 0.85em;
    }
     section.howtovegan {
         padding: 15px;
    }
     section.howtovegan h3 {
         font-size: 2em;
    }
     section.howtovegan p {
         font-size: 1.1em;
    }
     section.gallery h3 {
         font-size: 2em;
         margin-left: 20px;
    }
    section.gallery ul {
     width: 180px;
        margin: 0px;
     list-style-type: none;
}
       section.gallery ul li{
     width: 180px;
          margin: 5px;
           height: 50px;
}
     section.gallery ul li{
     width: 180px;
          margin: 5px;
           height: 50px;
}
 section.gallery a:hover span {
     position: absolute;
     top: 136px;
     left: 240px;
     text-align: center;
     opacity: 1;
}
      figure{
     top: 120px;
     position: absolute;
     left: 200px;
     text-align: center;
     opacity: .75;
}
     .team h1
     {
         font-size: 2em;
     }
     #contactdiv{
    width: 70%;
    margin: auto;
    height: 40px;
    display: flex;
    flex-direction: row;
}
}
@media only screen and (max-width:768px)
{
    body
    {
        width: 80%;
        margin: auto;
    }
    nav{
        width: 80%;
        display: block;
   margin: auto;
     background: #000000;
     position: absolute;
        margin-top: 130px;
        padding: 0;
    
}
    
nav ul li a
    {
        height: 35px;
        width:auto;
        font-size:0.80em;
        padding: 0px;
    }
   
    header img
    {
        height: 120px;
        width: 350px;
    }
     #homeimg {
         background: url(images/vegan_11.jpg);
         height: 200px;
          margin-top: 180px;
    }
    section.sec2
    {
        width: auto;
       padding-top: 10px;
        
    }
    section.sec3
    {
        background: url(images/vegan_21.jpg);
        height: 200px;
    }
    .container
    {
        margin-top: 200px;
    }
    section.why
    {
        margin-top: 200px;
    }
    section.nutri
    {
         margin-top: 200px;
    }
     section.howtovegan
    {
         margin-top: 200px;
    }
    .a1
    {
        margin-top: 155px;
    }
    .section
    {
        width: auto;
    }
    iframe
    {
       margin-left: 20px;
        height: 300px;
    }
    .video
    {
         margin-left: 20px;
    }
     section.sec2 h2 {
         font-size: 1.5em;
    }
     section.sec2 p {
         font-size: 1.1em;
    }
    section.why h3 {
         font-size: 1.5em;
    }
     section.why p {
         font-size: 1.1em;
    }
      section.nutri h2 {
         font-size: 1.5em;
    }
     section.nutri p {
         font-size: 1.1em;
    }
     section.nutri h3 {
         font-size: 1.5em;
    }
     section.nutri ul li {
         font-size: 1em;
    }
    .ntable td,th
    {
        font-size: 1.1em;
    }
    section.howtovegan h3 {
         font-size: 1.5em;
    }
     section.howtovegan p {
         font-size: 1.1em;
    }
    .a1 h1
    {
        font-size: 1.5em;
    }
    .name
    
    {
        font-size: 1.5em;
    }
    .section p
    {
        font-size: 1.1em;
    }
    #contactdiv{
    width: 40%;
    margin: auto;
    height: 40px;
    display: flex;
    flex-direction: row;
}
}


 